<mat-card class="m-0" *ngIf="provider">
    <mat-card-title>{{ provider.name }}</mat-card-title>
    <div fxLayout="{{_layout.layout}}" fxLayoutAlign="{{_layout.align}}" fxLayout.lt-lg="column"
         fxLayoutAlign.lt-lg="start">

        <mat-card-subtitle>{{ 'fee' | translate }}: <strong>{{ provider.email }}</strong></mat-card-subtitle>
        <mat-card-subtitle>{{ 'cuil' | translate }}: <strong>{{ provider.cuil }}</strong></mat-card-subtitle>
        <mat-card-subtitle>{{ 'fee' | translate }}: <strong>{{ provider.fee }} %</strong></mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-content>
                <p>{{ provider.contact_name }}</p>
            </mat-card-content>
            <button mat-icon-button routerLink="/customer/view/{{provider.id}}">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
    </div>
</mat-card>


