<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="250px" >
        <mat-card class="profile-sidebar mb-1 pb-0" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
            <div class="form-group">
                <fieldset class="form-group" style="border: none">
                    {{imageError}}
                    <div class="custom-file fileInputProfileWrap">
                        <div class="img-space">
                            <ng-container>
                                <img [src]="_provider?.photo" *ngIf="_provider?.photo"/>
                                <img src="/assets/images/no_image.png" *ngIf="!_provider?.photo"/>
                            </ng-container>
                            <span>
                                    <button mat-icon-button>
                                        <input type="file" (change)="fileChangeEvent($event)"
                                               class="fileInputProfile">
                                        <mat-icon>add_photo_alternate</mat-icon>
                                    </button>
                                </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="profile-title text-center mb-1">
                <div class="main-title">{{_provider?.name}}</div>
                <div class="subtitle mb-05">{{_provider?.email}}</div>
            </div>

        </mat-card>
        <!-- Contact Information -->
        <mat-card class="default">
            <mat-card-title>{{'contact.information' | translate }}</mat-card-title>
            <mat-card-content class="pt-0">
                <mat-list>

                    <mat-list-item>
                        <mat-icon class="mr-1">money_off</mat-icon>
                        {{_provider?.fee}} %
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="mr-1">email</mat-icon>
                        {{_provider?.email}}
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="mr-1">phone</mat-icon>
                        {{_provider?.phone}}
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="mr-1">add_location</mat-icon>
                        {{_provider?.address}}
                    </mat-list-item>

                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-md="calc(100% - 250px)">
        <div fxLayout="row wrap">
            <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">

                <!-- Balance -->
                <mat-card class="p-0" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
                    <mat-card-title class="">
                        <div class="card-title-text">
                            <div class="mr-1">{{'account' | translate }}</div>

                            <div>la cuenta del proveedor tiene: {{ balance?.state | translate }}</div>
                            <span fxFlex></span>

                            <button mat-icon-button class="card-control" (click)="getBalance()"
                            matTooltip="{{ 'refresh' | translate}}">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>

                    <mat-card-content class="p-0" >

                        <div>
                            <mat-card>
                                <div fxLayout="row nowrap" fxLayoutAlign="start center">
                                    <small class="text-muted">{{'balance' | translate }}</small>
                                    <span fxFlex></span>
                                    <h3 *ngIf="!loadingBalance" >
                                        {{ balance?.balance_final | currency: 'ar$' : 'symbol' }}
                                    </h3>
                                    <mat-spinner diameter="12" *ngIf="loadingBalance"></mat-spinner>
                                </div>
                            </mat-card>
                        </div>
                        <div fxLayout="row wrap">
                            <div fxFlex>
                                <mat-card>
                                    <mat-card-title fxLayoutAlign="start center">
                                        <small class="text-muted">{{'from' | translate }} {{ balance?.date_from | momentFormat : 'd/MM/yyyy'  }}</small>
                                        <span fxFlex></span>
                                        <mat-spinner diameter="12" *ngIf="loadingBalance"></mat-spinner>
                                    </mat-card-title>
                                </mat-card>
                            </div>
                            <div fxFlex >
                                <mat-card>
                                    <mat-card-title fxLayoutAlign="start center">
                                        <small class="text-muted">{{'to' | translate }} {{ balance?.date_to | momentFormat : 'd/MM/yyyy'  }}</small>
                                        <span fxFlex></span>
                                    </mat-card-title>
                                </mat-card>
                            </div>
                        </div>
                        <div class="p-1">
                            <mat-card-title class="">
                                <div class="card-title-text">
                                    <div class="mr-1">{{'movements' | translate }}</div>
                                    <span fxFlex></span>

                                    <button mat-icon-button class="card-control" (click)="getBalance()"
                                            matTooltip="{{ 'refresh' | translate}}">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                    <button mat-icon-button class="card-control ml-1"
                                            (click)="openMovementPopUp(true)" [matTooltip]="('add.movement' | translate) ">
                                        <mat-icon>add_circle_outline</mat-icon>
                                    </button>
                                </div>
                            </mat-card-title>

                        </div>
                        <mat-list class="compact-list mb-1">
                            <mat-list-item *ngIf="loadingBalance">
                                <mat-spinner diameter="16"></mat-spinner>
                            </mat-list-item>
                            <mat-list-item class="" *ngIf="!loadingBalance && balance?.movements?.length == 0">
                                <h4>{{'no.movements.found' | translate }}</h4>
                            </mat-list-item>
                            <mat-list-item class="" *ngIf="!loadingBalance && balance?.movements?.length > 0">
                                <div fxFlex="11"><small>{{'date' | translate  }}</small></div>
                                <div fxFlex="40"><small>{{'concept' | translate  }}</small></div>
                                <div fxFlex="2"><small>{{'type' | translate  }}</small></div>
                                <div fxFlex="20" class="text-right"><small>{{'amount' | translate  }}</small></div>
                                <div fxFlex="20" class="text-right"><small>{{'balance' | translate  }}</small></div>
                            </mat-list-item>

                            <div class="p-05 border-bottom-light" fxLayout="row nowrap" fxLayoutAlign="space-between center"
                                 *ngFor="let mo of balance?.movements" >
                                <div fxFlex="11"> <small>{{ mo.date | momentFormat: 'd/MM/yyyy'  }}</small></div>
                                <div fxFlex="40">{{ mo.concept}} </div>
                                <div fxFlex="2">
                                    <mat-icon *ngIf="mo.type == 'CREDIT'" color="primary">trending_up</mat-icon>
                                    <mat-icon *ngIf="mo.type == 'DEBIT'" color="warn">trending_down</mat-icon>
                                </div>
                                <div fxFlex="20" class="text-right">{{ mo.amount | currency: 'ar$' : 'symbol' }}</div>
                                <div fxFlex="20" class="text-right">{{ mo.balance | currency: 'ar$' : 'symbol' }}</div>
                            </div>

                            <div class="p-05 border-top-normal" fxLayout="row nowrap" fxLayoutAlign="space-between center" *ngIf="!loadingBalance">
                                <div fxFlex="20"> {{ 'balance.to' | translate}}</div>
                                <div fxFlex="20"> {{ balance?.date_from | momentFormat : 'd/MM/yyyy'  }} </div>
                                <div fxFlex></div>
                                <div fxFlex="20" class="text-right">{{ balance?.balance_prev | currency: 'ar$' : 'symbol' }}</div>
                            </div>

                        </mat-list>
                    </mat-card-content>
                </mat-card>


                <!-- Products -->
                <mat-card class="p-0" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
                    <app-product-table [layout]="'compact'" [perPage]="5"></app-product-table>
                </mat-card>

            </div>

        </div>
    </div>
</div>
