.mat-expansion-panel-header.mat-expanded {
  height: 30px!important;
}

.mat-expansion-panel-header {
  padding: 0 10px!important;
}

.mat-expansion-panel-body {
  padding: 0 10px 10px!important;
}

.mat-action-row {

  padding: 4px 4px 4px 4px!important;
}
