.ACTIVE {
  background: #86c45c !important;
  color: #ffffff !important;
}
.DELAYED {
  background: #dddc1c !important;

  color: #ffffff !important;
}

.EXPIRED {
  background: #f47303 !important;
  color: #ffffff !important;
}

.SUSPENDED {
  background: #f34d4d !important;
  color: #ffffff !important;
}

.REQUESTED {
  background: #03a9f4 !important;
  color: #ffffff !important;
}
