<div class="p-1">

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start center">
        <form [formGroup]="itemForm" (ngSubmit)="submit()">
            <mat-form-field style="width: 200px" class="pr-1">
                <input
                        matInput
                        placeholder="{{'description' | translate }}"
                        formControlName="description"
                        required>
            </mat-form-field>

            <mat-form-field class="pr-1" style="width: 80px">
                <input
                        matInput
                        placeholder="{{'discount' | translate }}"
                        formControlName="discount"
                        type="number"
                >
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field style="width: 80px" class="pr-1">
                <input
                        matInput
                        placeholder="{{'limit.discount' | translate }}"
                        formControlName="limit_discount"
                        type="number"
                >
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field style="width: 100px" class="pr-1">
                <input
                        matInput
                        name="date_from"
                        [matDatepicker]="pickerFrom"
                        formControlName="date_from"
                        placeholder="{{'from' | translate }}"
                        required/>
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="width: 100px" class="pr-1">
                <input
                        matInput
                        name="date_to"
                        formControlName="date_to"
                        [matDatepicker]="pickerTo"
                        placeholder="{{'to' | translate }}"
                        required/>
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
            <button-loading class="pr-1"
                    [loading]="loading"
                    color="primary"
                    [disable]="itemForm.invalid">
                {{ 'save' | translate}}
            </button-loading>
        </form>

        <div class="ml-1">
            <input type="text" placeholder="{{'search' | translate}}" (input)="filter($event)"
                   class="search default-bg full-width" />
        </div>

        <button mat-icon-button class="card-control" (click)="getItems()" class="ml-1">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
        <ngx-datatable
                class="material ml-0 mr-0"
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [scrollbarH]="true"
                [limit]="10"
                [rowHeight]="50"
                [loadingIndicator]="loading"
                [messages]="{emptyMessage: 'Nada por aca' }"
        >
            <ngx-datatable-column name="{{'description' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.description }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'discount' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.discount }} %
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'from' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.date_from | date : 'dd/MM/yyyy'  }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'to' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.date_to | date : 'dd/MM/yyyy'  }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'active' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <mat-slide-toggle (toggleChange)="changeActive(row)" [(ngModel)]="row.active"></mat-slide-toggle>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="edit(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>
