<mat-toolbar color="primary" class="booking-toolbar" [@animate]="{value:'*',params:{delay:'300ms',y:'50px'}}">

    <button mat-icon-button
            routerLink="/products/add" [matTooltip]="('add.product' | translate) ">
        <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button mat-icon-button routerLink="/products/edit/{{product.id}}"
            matTooltip="{{ 'edit' | translate }}">
        <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button (click)="deleteProduct()" matTooltip="{{'delete' | translate}}">
        <mat-icon>delete</mat-icon>
    </button>


</mat-toolbar>

<div fxLayout="row wrap">

    <!-- DETAIL -->
    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="60">
        <!-- DETAIL -->
        <mat-card class="p-1">

            <div class="product-details-wrap m-333" fxLayout="row wrap" fxLayout.lt-md="column">

                <div fxFlex.lt-md="auto" fxFlex="50" class="product-photos-wrap">
                    <div class="gallery-thumbnails" [@animate]="{value:'*',params:{delay: '100ms', x:'-100px'}}">
                        <img class="mat-elevation-z1" [ngClass]="{'active': image.state === '1'}"
                             *ngFor="let image of photoGallery" [src]="image.url"
                             (click)="changeState(image)">
                    </div>
                    <div class="gallery-photo" [@animate]="{value:'*',params:{delay: '100ms', y:'50px'}}">
                        <img class="mat-elevation-z2" *ngFor="let image of photoGallery" [src]="image.url" alt=""
                             [@fadeInOut]="image.state">
                    </div>
                </div>

                <div fxFlex="50" class="product-content-wrap"
                     [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">

                    <h1 class="title">{{ product?.description }}</h1>
                    <div class="main-info mb-1">
                        <p class="mb-05" [ngStyle]="{maxWidth: '450px'}">{{ product?.description }}</p>
                        <p class="text-muted p-line">
                            <strong>{{ 'category' | translate }} </strong>
                            <span class="mat-color-default"> {{ product?.category?.name }}</span>
                        </p>
                        <div class="product-rating mb-1">
                            <small class="text-muted">({{ product?.ratings?.ratingCount || 0 }} reviews)</small>
                        </div>
                    </div>

                    <div>
                        <div>
                            <strong>{{ 'provider' | translate }}: </strong> {{ product?.provider?.name }}
                        </div>
                        <div>
                            <strong>{{ 'state' | translate }}: </strong> {{ product?.state?.name }}
                        </div>
                    </div>

                    <h1>
                        {{ product?.price | currency:'ARS':'symbol':'1.0-1' }}
                    </h1>
                </div>
            </div>

        </mat-card>
    </div>
</div>
